.gear-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gear-page-content {
    z-index: 1;
}

.gear-page {
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
    text-align: center;
}

.loading-page {
    color: #D1CECD;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}