.gear-card, .empty-gear-card {
    width: 300px;
    height: 55px;
    background-color: #51514F;
    margin: 15px 0 15px 0;
    font-size: 15px;
    border-radius: 4px;
    overflow: hidden;
    color: #DEDEDE;
    display: block;
}

.gear-card {
    text-align: left;
}

.gear-card:hover {
    cursor: pointer;
}

.gear-card img {
    display: block;
}

.materia {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    min-height: 100px;
    min-width: 200px;
    color: #DEDEDE;
    justify-content: center;
    text-align: right;
    margin-right: 5px;
}

.icon-and-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.item-name {
    margin-left: 5px;
}

.connected-gear-slot {
    display: flex;
    flex-direction: row;
}

.materia-icon {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.empty-icon {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 7px;
}

.gear-card-icon {
    margin-left: 10px;
    margin-top: 7px;
}

.gear-slot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}