.landing-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
}

.error-message {
    width: 500px;
    height: 50px;
    background-color: lightpink;
    border: solid 2px red;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit-box {
    width: 500px;
}

